{% load static %}
<html>
    <head>
        <title>Japanese Resources Blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Japanese Resources for Self Learners</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post-new' %}" id="new-b">+ New Blog</a>
                    {% if user.is_authenticated %}
                        <p>Hi {{ user.username }}</p>
                        <p><a href="{% url 'logout' %}">Log Out</a></p>
                    {% else %}
                        <p>You are not Logged in.</p>
                        <a href="{% url 'login' %}">Sign In</a>
                        <a href="{% url 'signup' %}">Register</a>
                    {% endif %}
                </div>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
